@(loc: Location, feat: Feature, title: String, titleIcon: String, lowText: String, highText: String)

<div class="score-widget">
  <div class="uw-main">
    <div class="sw-title">
      <p>@title @if(titleIcon != ""){<i class="@titleIcon"></i>}</p>
    </div>

    <div class="uw-selector" id="@loc.getId()_@feat.getName()">
      <div class="uw-select uw-sel-1"><div class="sw-user-score"><div class="sw-score"></div></div></div>
      <div class="uw-select uw-sel-2"><div class="sw-user-score"><div class="sw-score"></div></div></div>
      <div class="uw-select uw-sel-3"><div class="sw-user-score"><div class="sw-score"></div></div></div>
      <div class="uw-select uw-sel-4"><div class="sw-user-score"><div class="sw-score"></div></div></div>
      <div class="uw-select uw-sel-5"><div class="sw-user-score"><div class="sw-score"></div></div></div>
    </div>

    <div class="sw-badges">
      <div class="sw-reliability">
        @StarWidget(feat.getAccuracy())
      </div>

      <div class="sw-award">
        <p><i class="fa fa-trophy"></i> 0</p>
      </div>
    </div>
  </div>

  
  <div>
    <div class="uw-scale">
      <div class="uw-low"><p>@lowText</p></div>
      <div class="uw-high"><p>@highText</p></div>
    </div>
  </div>

</div>
