@(count: Int)
  @{count match {
    case 0 => { <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> }
    case 1 => { <i class="fa fa-star-half-full"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> }
    case 2 => { <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> }
    case 3 => { <i class="fa fa-star"></i><i class="fa fa-star-half-full"></i><i class="fa fa-star-o"></i> }
    case 4 => { <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> }
    case 5 => { <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> }
    case 6 => { <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> }
  }}





