@(loc: Location, feat: Tag, title: String, titleIcon: String)

<div class="yesno-widget" id="tag-@feat.getId()">
  <div class="uw-main">
    <div class="yn-title">
      @title @if(titleIcon != ""){<i class="@titleIcon"></i>}
    </div>

    <div class="uw-selector">
      <div class="ynw-select uw-sel-1">
        <div class="sw-user-score"><div class="sw-score"></div></div>
      </div>
      
      <div class="ynw-select uw-sel-2">
        <div class="sw-user-score"><div class="sw-score"></div></div>
      </div>
    </div>

    <div class="boogers">
      <div class="yn-label">
        No
      </div>

      <div class="yn-label">
        Yes
      </div>
    </div>

  </div>

  
</div>

