@(loc: Location, feat: Feature, title: String, titleIcon: String)

<div class="yesno-widget">
  <div class="uw-main">
    <div class="sw-title">
      <p>@title @if(titleIcon != ""){<i class="@titleIcon"></i>}</p>
    </div>

    <div class="uw-selector" id="@loc.getId()_@feat.getName()">
      <div class="ynw-select uw-sel-1">
        <div class="sw-user-score"><div class="sw-score"></div></div>
      </div>
      
      <div class="ynw-select uw-sel-2">
        <div class="sw-user-score"><div class="sw-score"></div></div>
      </div>
    </div>

    <div class="sw-badges">
      <div class="sw-reliability">
        @StarWidget(feat.getReliability())
      </div>

      <div class="sw-award">
        <p><i class="fa fa-trophy"></i> @feat.getAward</p>
      </div>
    </div>
  </div>

  
  <div>
    <div class="uw-scale">
      <div class="ynw-text"><p>No</p></div>
      <div class="ynw-text"><p>Yes</p></div>
    </div>
  </div>

</div>

