@import "color_font.less";


.navbar-search {
  margin: 6px 0 0 75px; 
  max-width: 300px;
}


.login-button {
  color: @sea-foam-white;
  background-color: @deep-blue; /*fade(@sea-foam-white, 50%);*/
  border-radius: 4px;
  display: inline-block;
  transition: all 0.2s ease;
  margin-top: 8px;
  border: solid @deep-blue 2px;
}

.login-button:hover {
  background-color: @sea-foam-white;
  color: @deep-blue;
  text-decoration: none;
  border: solid @deep-blue 2px;
}


