@import "color_font.less";

.navbar-customize {
  border-radius: 0px;

  .container-fluid {
    .brand-img {
      margin-top: -7px;
    }
  }

  .icon-bar {
    background: @deep-blue;
  }
}

.navbar-search {
  margin: 6px 0 0 75px; 
  max-width: 300px;
}

