@import "utility/color_font.less";
@import "utility/widgets.less";
@import "utility/navbar.less";
@import "utility/callouts.less";

@text-form-width: 300px;

/**
 * Location Page Styles
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  background: @sea-foam-white;
  height: 100%;
  overflow: auto;
}

.navbar-customize {
  border-radius: 0;
  border: none;
  background: #0B73A0;

  .navbar-brand {
    font-family: "Pacifico";
    font-size: 26px;
    color: @sea-foam-white;
  }

  .navbar-brand:hover {
    text-decoration: none;
    color: white;
  }
}

.location-container {
  margin-top: 50px;
}

.location-title {
  margin-bottom: 30px;
  color: @deep-blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: solid @sea-foam-white 2px;
  border-right: solid @sea-foam-white 2px;
  border-left: solid @sea-foam-white 2px;

  h1 {
    font-family: "Open Sans";
    font-size: 36px;
  }

}

.location-img {
  
}

.location-main {
  font-family: "Muli";
  background: fade(@sea-foam-white, 60%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: solid @sea-foam-white 2px;
  border-right: solid @sea-foam-white 2px;
  border-left: solid @sea-foam-white 2px;

  h3 {
    color: @deep-blue;
    font-family: "Open Sans";
    font-size: 24px;
  }
}

.location-map {
  height: 300px;
  width: 300px;
}

.location-form-input {
  label {
    display: block;
    font-family: "Open Sans";
    color: @deep-blue;
  }

  .location-bubble-right {
    float: left;
  }

  input {
    width: @text-form-width;
    display: block;
    float: left;
  }

  textarea {
    resize: none;
    width: @text-form-width;
    height: 200px;
    display: block;
    float: left;
  }
}

.location-form-input::after {
  content: '';
  display: block;
  clear: both;
}

.location-comment {
}



