@sharesabout-blue: #0079AF;

.sharesabout-title-font {
  font-family: 'Titillium Web', sans-serif;
  color: @sharesabout-blue;
}

.sharesabout-para-font {
  font-family: 'Droid Sans', sans-serif;
  color: @sharesabout-blue;
  font-size: 16px;
}


body {
  background-color: white;
}

.landing-header {
  margin-top: 25px;

  h1 {
    .sharesabout-title-font;
    font-size: 48px;
    line-height: 50%;
  }

  p {
    margin-left: 74px;
    .sharesabout-para-font;
  }
}


.landing-header-brand {
}

.landing-header-logo {
  float: left;
  margin: 0 10px 0 0;
}

.landing-header-login {

}

.sign-up-bttn {
  border: solid 3px @sharesabout-blue;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  color: @sharesabout-blue;
  text-align: center;
  padding: 5px 30px;
  width: 120px;
  transition-duration: 0.2s;
}


.sign-up-bttn:hover {
  color: white;
  background-color: @sharesabout-blue;
  text-decoration: none;
}

.login-input {
  border: solid 2px @sharesabout-blue;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  color: @sharesabout-blue;
  padding: 5px 10px;
  width: 100%;
}



.infogram {
  margin-top: 25px;
}

.infogram h1 {
  .sharesabout-title-font;
  text-align: center;
}

.infogram p {
  font-family: "Droid Sans";
  font-size: 16px;
  color: @sharesabout-blue;
  text-align: center;
}
