@sharesabout-blue: #0079AF;

body {
  background-color: white;
  margin-top: 0px;
  padding-top: 0;
}

@score-radius: 22px;

#search-results {
  margin-top: 20px;
}

div label input {
  position: absolute;
  visibility: hidden;
}

#ck-button {
  margin:4px;
  background-color: white;
  overflow:auto;
  display: inline-block;
}

#ck-button:hover {
}

#ck-button label {
  /*
    width: 4.0em;
    */
}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button label input {
    position: absolute;
    /*
    top: -20px;
    */
}

#ck-button input:checked + span {
    background-color: white;
    color: @sharesabout-blue;
}


.current-loc {
  color: black;
}

.stars-invert {
  width: 75px;
  height: @score-radius;
  border-radius: @score-radius; 
  line-height: @score-radius;
  background-color: @sharesabout-blue;
  text-align: center;
  vertical-align: middle;
  display: inline-block;

  p {
    color: white;
  }
}

.feature-update {
  display: inline-block;
}

.sharesabout-title-font {
  font-family: 'Titillium Web', sans-serif;
  color: @sharesabout-blue;
}

.sharesabout-para-font {
  font-family: 'Droid Sans', sans-serif;
  color: @sharesabout-blue;
  font-size: 16px;
}

#map-canvas {
  margin: 0;
  height: 200px;
}

.sa-brand {
  a {
    .sharesabout-title-font;
    font-size: 32px;
    text-align: center;
    vertical-align: center;
    line-height: 100%;
  }

  img {
    float: left;
  }
}

.location-select {
  width: 250px;
  margin: 10px 5px;
  position: inline;
}

.nav {
  float: right;
}


.landing-header {
  margin-top: 25px;

  h1 {
    .sharesabout-title-font;
    font-size: 48px;
    line-height: 50%;
  }

  p {
    margin-left: 74px;
    .sharesabout-para-font;
  }
}


.landing-header-brand {
}

.landing-header-logo {
  float: left;
  margin: 0 10px 0 0;
}

.landing-header-login {

}

.sign-up-bttn {
  border: solid 3px @sharesabout-blue;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  color: @sharesabout-blue;
  text-align: center;
  padding: 5px 30px;
  width: 120px;
  transition-duration: 0.2s;
}


.sign-up-bttn:hover {
  color: white;
  background-color: @sharesabout-blue;
  text-decoration: none;
}

.login-input {
  border: solid 2px @sharesabout-blue;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  color: @sharesabout-blue;
  padding: 5px 10px;
  width: 100%;
}



.infogram {
  margin-top: 25px;
}

.infogram h1 {
  .sharesabout-title-font;
  text-align: center;
}

.infogram p {
  font-family: "Droid Sans";
  font-size: 16px;
  color: @sharesabout-blue;
  text-align: center;
}
