@(lat: Float)(lng: Float)

@import helper._

@import models.LocationDB
@import models.Location
@import models.Feature

@displayUpdateInput(feature: Feature) = {

  @if(feature != None) {

    @form.(routes.Application.postLocationUpdate()) {
      <label class="control-label">@feature.getName:</label>
      @for(value <- feature.getValues()) {
        <label class="radio-inline">
          <input type="radio" name="@feature.getName" id="@value" value="@value"> @value
        </label>
      }
      

      <div class="form-group">
        <button id="submit" type="submit" class="btn btn-default">Update</button>
        <button type="button" class="btn btn-default">Skip</button>
      </div>



    }

  }
}

@displayUpdateLocation(loc: Location) = {
  <h2>You Are Here:</h2>
  <h3>"@loc.getName"</h3>
  <p>@loc.getLatitude, @loc.getLongitude</p>

  <div class="list-group">
    @if(loc.hasFeaturesToUpdate()) {
      <div class="list-group-item"> 
        @displayUpdateInput( loc.getNextConditionToUpdate() )
      </div>
    }
    <!--
    <div class="list-group-item">
        <table width="100%">
          <tr>
            <td width="25%">Crowd:</td> <td width="25%">Small</td> <td width="50%"><div></div></td>
          </tr>
        </table>
    </div>
    -->
  </div>
}

@displaySuggestLocation() = @{
  <button type="button" class="btn btn-default"><i class="fa fa-plus"></i>  Suggest Location</button>
  <button type="button" class="btn btn-default"><i class="fa fa-times"></i>  Ignore Location</button>
}

@if(LocationDB.isUserInProximity(lat, lng)) {
  @displayUpdateLocation( LocationDB.getClosestLocation(lat, lng) )
} else {
  @displaySuggestLocation()
}

