@(lat: Float)(lng: Float)

@import models.{Feature, Location, LocationDB}

@displayUpdateInput(feature: Feature) = {

}

@displayUpdateLocation(loc: Location) = {
}

@displaySuggestLocation() = {
  <p>
  You're not currently around any known beaches or surf spots. Feel free to look around at beaches or sign in to 
  suggest a new beach that we don't know about.
  </p>
}

@if(LocationDB.isUserInProximity(lat, lng)) {
  @displayUpdateLocation( LocationDB.getClosestLocation(lat, lng) )
} else {
  @displaySuggestLocation()
}

