
@import utility._



@Main("Help - Hulinalu")("help") {

@NavBar(true, "")

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Icons</h1>
      <p>
      Below you'll find the various meanings of the icons found throughout this
      site. Beaches are tagged with icons based on community feedback.

      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-life-ring"></i> Lifeguard</h2>
        <p>
        The lifeguard icon indicates that the beach is monitored by lifeguards.
        Parks have specific hours of operation and may not always have a
        lifeguard present. Before entering the water, check with the lifeguards
        for current conditions and when in doubt, don't go out.

        </p>
      </div>
    </div>

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-car"></i> Parking</h2>
        <p>
        The car icon indicates parking facilities at a beach. If this icon is present, the
        beach has a parking lot specifically for the beach. Beaches with road-side parking,
        parking in residential areas, or comercial areas not associated with the beach will not
        have this icon.
        </p>
      </div>
    </div>
    
  </div>

  <div class="row">

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-female"></i><i class="fa fa-male"></i> Restrooms</h2>
        <p>
        When the "restroom" symbol is present, the beach has bathrooms on-site.
        </p>
      </div>
    </div>

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-paw"></i> Dogs Allowed</h2>
        <p>
        The paw icon indicates a dog-friendly beach. Beaches that allow dogs sometimes have rules
        governing what parts of the beach your furry friends are allowed. As usual, be respectful
        of others on the beach (not everyone likes dogs), clean up after your pet, and be sure 
        to follow city and county leash laws.
        </p>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-ship"></i> Boat Ramp</h2>
        <p>
        Some beaches have boat ramps available for public use and will be shown with the boat symbol.
        When using boat ramps, be sure to follow all rules and regulations regarding watercraft and
        check with the organization that manages the beach for access guideilnes.
        </p>
      </div>
    </div>

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-fire"></i> Camping</h2>
        <p>
        Beaches with this icon allow camping. Each beach has different schedules and regulations regarding
        camping. Be sure to check with the beach park management organization to obtain any necessary
        permits.
        </p>
      </div>
    </div>
    
  </div>

  <div class="row">

    <div class="col-md-6 help-icon-item">
      <div>
        <h2><i class="fa fa-subway"></i> Public Transportation</h2>
        <p>
        Beaches with this icon have some form of public transpotation (such as busses or trains) that operates 
        within walking distance of the beach. 
        </p>
      </div>
    </div>

    <div class="col-md-6 help-icon-item">
    </div>
    
  </div>


</div>
}
