@(message: String)


@Main("Home")("main")(false) {

<div class="container">


  <div class="row">
    <div id="current-loc" class="col-sm-6">
      <h1>Current Location</h1>
      <p>
      Finding your whereabouts
      <i class="fa fa-spinner fa-pulse"></i>
      </p>
    </div>

    <div class="sol-sm-6">
      <div id="map-canvas"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="ck-button">
        <label>
          <input type="checkbox" value="1"><span><i class="fa fa-paw"></i></span>
        </label>
      </div>

      <div id="ck-button">
        <label>
          <input type="checkbox" value="1"><span><i class="fa fa-life-ring"></i></span>
        </label>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div id="search-results" class="row">
    <div class="col-sm-12">
        <div class="list-group">
      @for(loc <- LocationDB.getLocations) {
      @*
          @SearchResult(loc)
          *@
      }
        </div>
    </div>
  </div>

 

</div>
}
