@import helper._
@import utility._

@Main("Hulinalu")("index")(true) {

<div id="wrap" class="container index-main">
  <div class="row heading">
    <div class=col-sm-12">
      <h1>Hulinalu </h1>
    </div>
  </div>

  <div class="row">
    <!-- A Center box containing the landing page controls. -->
    <div class="col-sm-6 col-sm-offset-3 search-box">
      <div class="row">
        <div class="col-sm-12">
          @Search("")
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" id="update-loc">
          <p>Finding your location...</p>
          <div class="spinner spinner-pulse"></div>
        </div>
      </div>
    
    </div>

  </div>
</div>

<div class="footer">
  <p><em>Shipwreck Beach</em><br>Kaua`i, Hawai`i</p>
</div>
}
