@(loginForm: Form[views.formdata.Login])

@import helper._


@Main("LandingPage") {

<div class="container landing-header">
  <div class="row">
    <div class="col-sm-8 landing-header-brand">
      <img class="landing-header-logo" src="@routes.Assets.at("images/sharesabout-logo.png")" width="64" height="64">
      <h1>Sharesabout</h1>
      <p>User-driven information sharing.</p>

      <div>
        <a class="sign-up-bttn" href="@routes.Application.signUp()">Sign Up</a>
      </div>

    </div>
    <div class="col-sm-4">
      @form(routes.Application.postLogin, 'class -> "") {

      
      <div class="form-group @if(contactForm("username").hasErrors) {has-error}">
        <label class="col-sm-2 control-label">E-mail or Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"
          name = "@loginForm("username").name"
          id= "@loginForm("username").id"
          value = "@loginForm("username").value"
          placeholder="Mobile Phone or E-mail">
          <span class="help-block">@{loginForm("username").error.map {error => error.message}}</span>
        </div>
      </div>


      <div class="form-group @if(loginForm("password").hasErrors) {has-error}">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"
          name = "@loginForm("password").name"
          id= "@loginForm("password").id"
          value = "@loginForm("password").value"
          placeholder="Password">
          <span class="help-block">@{loginForm("password").error.map {error => error.message}}</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Login</button>
        </div>
      </div>
    }
      
    </div>
  </div>
</div>

<div class="container infogram">
  <div class="row">
    <div class="col-sm-6">
      <p>
      <img src="@routes.Assets.at("images/sharesabout-share.png")" width="350" height="350">
      </p>
      <h1>Share Info</h1>
      <p>
      When you're somewhere interesting, other people probably want to know 
      what it's like there. Share things about a place for others.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="@routes.Assets.at("images/sharesabout-look.png")" width="350" height="350">
      <h1>Get Info</h1>
      <p>
      When you want to go somewhere, find out what it's like from people there
      right now!
      </p>
    </div>
  </div>

</div>
}
