@import helper._


@Main("Hulinalu")(true) {

<div class="container landing-page">
  <div class="row heading">
    <div class=col-sm-12">
      <h1>Hulinalu </h1>
      <p>Find beaches and surf and share about the ones you've been to.</p>
    </div>
  </div>

  <div class="row">
    <!-- A Center box containing the landing page controls. -->
    <div class="col-sm-6 col-sm-offset-3 main-box">
      <div class="row">
        <div class="col-sm-12">
            @form(routes.Application.index()) {
          <div class="input-group">

            <input type="text" name="q" class="form-control query-box" placeholder="Search for a beach...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
            }
        </div>
      </div>

      <div class="row current-loc">
        <div class="col-xs-7" id="update-loc">
          <p>Finding your current location <i class="fa fa-spinner fa-pulse"></i></p>
        </div>
        
        <div class="col-xs-5 map-canvas" id="map-canvas">
        </div>
      </div>
    
    </div>

  </div>
</div>
}
