@import utility._
@(location: Location)

@Main("Home")(false) {


  <div class="container">

    <div class="row">
      <div class="col-sm-12 location-title">
        <h1>@location.getName</h1>
      </div>
    </div>

    <div class="row location-main">
      <div class="col-sm-5">

        <h3>At the Beach</h3>

        <div class="list-group">
          @for(fac <- location.getFacilities()) {
            <div class="list-group-item search-result">
              @UpdateWidget(location, fac, fac.getName, "", fac.getLowLabel(), fac.getHighLabel())
            </div>
          }
        </div>

      </div>

      <div class="col-sm-5">
        <h3>Current Conditions</h3>

        <div class="list-group">
          @for(cond <- location.getConditions()) {
            <div class="list-group-item search-result">
              @UpdateWidget(location, cond, cond.getName, "", cond.getLowLabel(), cond.getHighLabel())
            </div>
          }
        </div>
      </div>

      <div class="col-sm-2">
        <h3>Legend</h3>
          <p>@Stars(0) = Unknown</p>
          <p>@Stars(2) = Poor</p>
          <p>@Stars(4) = Fair</p>
          <p>@Stars(6) = Excellent</p>
      </div>


    </div>
  </div>

}
  
