@import utility._
@(location: Location)

@Main(location.getName() + "Hulinalu")("location") {

  @NavBar(true, "")

  <div id="location-page" class="container location-container @if(Application.getCurrentAccount() == null) {updates-disabled}">

    <div class="row">
      <div class="col-sm-12 location-title">
        <h1>@location.getName</h1>
        <p>@location.getDescription</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 location-img">
        <img src="@location.getImagePathMostPopular()" width="300">
      </div>

      <div class="col-sm-6 location-map" id="location-map-canvas" lat="@location.getLatitude" lng="@location.getLongitude">
      </div>
 
    </div>


    <div class="row location-main">
      <div class="col-sm-6">

        <h3>At the Beach</h3>

        <div>
          @for(fac <- location.getTags()) {
            <div>
              @YesNoWidget(location, fac, fac.getName, "")
            </div>
          }
        </div>

      </div>

      <div class="col-sm-6">
        <h3>Current Conditions</h3>

        <div>
          @for(cond <- location.getFeatures()) {
            <div>
              @ScoreWidget(location, cond, cond.getName, "", cond.getLowLabel(), cond.getHighLabel())
            </div>
          }
        </div>
      </div>

     


    </div>
  </div>

  <script src="@routes.Assets.at("javascripts/location.js")"></script>
}
  
