@(locations: List[Location], queryData: String)

@import utility._
@import helper._

@featureTags(loc: Location) = {
  <p>
  @if( loc.hasParking() ) {
    <i class="fa fa-car"></i> 
  }

  @if( loc.hasRestrooms() ) {
    <i class="fa fa-female"></i><i class="fa fa-male"></i> 
  }

  @if( loc.hasLifeguard() ) {
    <i class="fa fa-life-ring"></i> 
  }

  @if( loc.allowsDogs() ) {
    <i class="fa fa-paw"></i> 
  }

  @if( loc.hasBoatRamp() ) {
    <i class="fa fa-ship"></i> 
  }

  @if( loc.hasPublicTrans() ) {
    <i class="fa fa-subway"></i> 
  }

  @if( loc.hasDining() ) {
    <i class="fa fa-cutlery"></i>
  }
 
  @if( loc.allowsCampling() ) {
    <i class="fa fa-fire"></i> 
  }
  </p>
}

@Main("Hulinalu - " + queryData)("results") {

@NavBar(true, queryData)

<div class="container">
  @if(locations.isEmpty) {
    <div id="search-results-list" class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="no-results">
        <p>No results found for <em>"@queryData"</em></p>
        </div>
      </div>
    </div>
  } else {
    <div id="search-results-list" class="row">
      <div class="col-sm-10">
          <div class="list-group">
            @for(loc <- locations) {
              <div class="list-group-item search-result">
                <div class="row">
                  <div class="col-sm-8">
                    <h1><a href="@routes.Application.locationPage(loc.getName)">@loc.getName</a></h1>

                    <p>@loc.getDescription</p>
                    <div class="result-details">
                      <div class="reliability">
                        <p><i class="fa fa-eye"></i> @StarWidget(loc.getConditionReliability())</p>
                      </div>

                      <div class="reliability">
                        <p><i class="fa fa-globe"></i> @StarWidget(loc.getFacilityReliability())</p>
                      </div>

                      <div class="awards">
                        <p><i class="fa fa-trophy"></i> @loc.getTotalAwards</p>
                      </div>

                      <div class="feature-tags">
                        @featureTags(loc)
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <img src="@loc.getImagePathMostPopular(0)" width="100" height="100">
                  </div>
                  <div class="col-sm-2">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center=@loc.getLatitude,@loc.getLongitude&size=100x100&zoom=12" height="100" width="100">
                  </div>
                </div>
              </div>
            }

        </div>
      </div>
    }
  </div>
</div>
}


