@import utility._

@(locations: List[Location])

<div class="col-sm-12">
    <div class="list-group">
      @for(loc <- locations) {
        <div class="list-group-item">
          <a href="@routes.Application.locationPage(loc.getName)"><h1>@loc.getName</h1></a>
          <div>
            <div class="stars-invert"><p><i class="fa fa-eye"></i> @Stars(loc.getConditionReliability())</p></div>
            <div class="stars-invert"><p><i class="fa fa-globe"></i> @Stars(loc.getFacilityReliability())</p></div>
            <div class="feature-update"><p>@loc.getUpdateCount(60) in the last hour.</p></div>
          </div>
          <p>@loc.getDescription</p>
        </div>
      }
  </div>
</div>



